body {
    background: black;
}

.container {
    max-width: 800px;
    width: 400%;
    margin: 0 auto;

}

#XMLID_226_ {
    animation: draw 15s forwards;
}

@keyframes draw {
    from {
        width: 300px;
    }

    to {
        width: 400px;
        stroke-dashoffset: 0;
    }
}